.Contacts {
    background-color: rgba(241, 237, 237, 0.756);
    height: 689px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}

.Contacts_block {
    width: 800px;
    background-color: #fff;
    padding: 30px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    position: relative;
}

.Contacts_add {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.but {
    margin-top: 30px;
    width: 25%;
}

.contact_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.Contacts_search {
    margin-top: 10px;    
}

.contact {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.contact_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icon {
    cursor: pointer;
    margin: 5px;
}

.outBut {
    position: absolute;
    right: 0;
}

.exit {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}